doctype html
html
  head
    meta(charset='utf-8')
    <script src="/assets/js/Module.js"></script>
    <script src="/assets/webcomponentsjs/webcomponents-lite.js"></script>
    link(rel='import' href='/assets/polymer/polymer.html')
    title= title
    block head
  body
    block content